@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body{
    margin: 0;
    font-family: "Nunito Sans";
}

body * {
    box-sizing: border-box;
}
h1, h2, h3, h4 {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;
}

p {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    margin: 0;
}


/* header+footer */

header , footer {
    background-color: #131313;
  
}

.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
}

.conteiner {
    max-width: 1440px;
    margin: 0 auto;
    /* font-family:"Nunito Sans" ; */
}




ul{
    display: flex;
    /* list-style-type: none; */
    justify-content: space-between;
    
}



/* section completede proj - 2 section */

.Completed_projects {
    margin: 0;
    background-color: #131313;
    height: 1074px;
}

.progect-list {
    position: relative;
    margin: 0;
    padding-top: 107px;
    padding-bottom: 45px;
    padding-right: 105px;
    justify-content: end;
}



.projects a {
    color: #FFFFFF;
    text-decoration: none;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
}



.projects a:hover {
    color: #E3B873;
    text-decoration: underline;
    text-decoration-thickness: 0.5px;
    text-decoration-style: solid;
    text-decoration-color: #E3B873;
    text-underline-offset:  7px;
}



.image-progect {
    width: 679px;
    height: 482px;
    position: relative;
    /* object-fit: contain; */
}

.image-progect .image {
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: opacity 800ms ease;
  }
  
  .image-progect .image.active {
    opacity: 1;
  }

.projects {
    margin-right: 30px;
    padding: 10px;
}


.progect {
    display: flex;
    justify-content: space-between;
    margin-left: 134px;
    margin-right: 134px;
    padding-bottom: 400px;
    font-family: Yeseva One;
}

.block_for_mobile {
    display: none;
}

.progect_ellipse {
    background-color: #E3B873;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 14px;
}

.arrows {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.pro {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    width: 600px;
}  

.mobile_img {
    background-image: url(../images/projects\ 2.2.jpg);
    position: relative;
    width: 340px;
    height: 241.5px;
}

.second-p {
    position: relative;
    margin-top: 34px;
    margin-bottom: 42px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 27px;
}

.slider-navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 80px;
    width: 205px;
    height: 13px;
  
}

.navigation-dots {
    display: flex;
    justify-content: center;
    /* position: absolute; */
    left: 0;
    bottom: -20px;
    width: 100%;
  }
  
  .slider__dots-item {
    width: 10px;
    height: 10px;
    background: #ccc;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    transition: background 0.4s ease;
  }
  
  .slider__dots-item:hover, .slider__dots-item.active {
    background: #625a5a;
  }

.left_arrow {
    color: #FFFFFF;
    margin-right: 29.5px;
}
.right_arrow {
    color: #FFFFFF;
    margin-left: 12px;
}


.group_text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.shift {
    margin-bottom: 9px;
    color: #E3B873;
}

.right {
    margin-right: 34px;
    margin-top: 34px;
}

.wight_s {
    color: #FFFFFF;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
}




